@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    /* Team font-family */
    --nav-bar: "Josefin Sans", sans-serif;
    --header-font: "Playfair Display", serif;
    --home-heading: "Poppins", sans-serif;
    --main-heading: "Roboto", sans-serif;
    --sub-heading: "Open Sans", sans-serif;
    --paragraph: "Jost", sans-serif;

    --transition: all 0.5s ease-in-out: 
}

body{
    font-family: var(--p-under-sub-headings);
    background: #f8f9fa;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* HEADER SECTION */
.containerr{
    max-width: 968px;
    margin-right: 1rem;
    margin-left: 1rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 8888;
    transition: .4s;
}
.header .nav{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo img{
    color: var(--title-color);
    width: 42px;
    border-radius: 10px;
  }
  
  .nav-img{
    width: 80px;
    border-radius: 10%;
  }

.header .nav .nav-menu .nav-list,
.header .nav .nav-menu .nav-link{
    display: flex;
}
.header .nav .nav-menu .nav-link{
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-weight: 600;
}
.header .nav .nav-menu .nav-list{
    justify-content: space-around;
}
.header .nav .nav-menu .nav-name{
    font-family: var(--nav-bar);
    font-size: .8rem;
}
.header .nav .nav-menu .nav-icon{
    font-size: 1.5rem;
}

/* active-nav-link and scroll header */
.header .nav .nav-menu .active-link{
    position: relative;
    color: rgb(47, 122, 219);
    transition: .3s;
}
.scroll-header{
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.2);
}

@media(max-width:767px){
    .header .nav .nav-menu{
        position: fixed;
        bottom: 0;
        left: 0;
        background: #fff;
        box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 0.6rem 0.6rem 0 0;
        transition: .4s;
    }    
}
@media(max-width:320px){
    .header .nav-name{
        display: none;
    }
}
@media(max-width:576px){
    .header .nav .nav-menu .nav-list{
        justify-content: center;
        column-gap: 2rem;
    }
}

@media(min-width:767px){
    .header{
        background: #76aeee;
    }
    .header .nav{
        height: 3.5rem;
    }
    .header .nav .nav-img{
        display: none;
    }
    .header .nav .nav-menu .nav-list{
        justify-content: center;
        column-gap: 2rem;
    }
    .header .nav .nav-menu .nav-icon{
        display: none;
    }
    .header .nav .nav-name{
        color: #fff;
        font-size: .9rem !important;
        font-weight: 900;
        margin-top: 8px !important;
    }
 
    .scroll-header{
        background-color: #fff;
        z-index: 8888888;
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
    }
    .scroll-header .nav .nav-name{
        color: rgba(28, 21, 92, 0.932);
    }
}
@media (min-width: 1024px){
    .containerr,
    .header .nav .nav{
        margin-left: auto;
        margin-right: auto;
    }
    .header .nav .nav-name{
        font-size: 1rem !important;
    }
}

/* CONTACT SECTION */
#contact{
    margin-top: 6%;
    margin-bottom: 8%;
}
.first-col{
    background: #fff;
    height: 550px;
    position: relative;
    width: 550px;
    left: 155px;
    top: 171px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}
.first-col h2{
    font-family: var(--p-under-sub-headings);
    font-weight: bold;
    margin-top: 8% !important;
    margin-bottom: 0 !important;
}
.img-fluid{
    border-radius: 20px;
}
.last-row{
    width: 65%;
    position: relative !important;
    left: 350px;
    top: 50px;
    height: 160px;
    padding-bottom: 10px !important;
    background-color: #76aeee;
    border-radius: 20px;
}
.last-row h3{
    font-family: var(--p-under-sub-headings);
    font-weight: 600;
}
.form-control{
    height: 52px;
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: none !important;
    border: .1px solid #b4b0b0;
}
@media (max-width: 1199px){

}
@media (max-width: 600px){
    .first-col{
        position: initial;
        left: 0;
    }
    .last-row{
        left: 0 !important;
        width: 100% !important;
        height: 300px !important;
        top: 0 !important;
        margin-bottom: 5%;
    }
}